doctype
html
  head
    title - My Site
   
  body
    header
      h1 List of processes which have not processed any documents in the last 24 hours.
    .container
      .main-content
        block content 
      .sidebar
        block sidebar
	footer
      p Running on node with Express, Jade and Stylus